body {
  background-color: #191627;
  color: white;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: rgb(28, 13, 83);
  }
}
h1 {
  color: #8251ff;
}
h3{
  color: rgb(255, 145, 0);
}