/* body{
  margin: 0;
  padding: 0;
  font-family: "montserrat";
  background-image: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
  background-size: 10000% 1000%;
  animation: bganimation 15s infinite;
}
.text{
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 350px 0;
  font-size: 22px;
}

@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
} */


body {
  background-image: linear-gradient(125deg,#102030,#261138,#14374b);
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  border: 5px solid white;
  padding: 20%;
  background-size: 10000% 1000%;
  animation: bganimation 6s infinite;



}
@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}



h1 {
  color: #8251ff;
}
h3{


  color: rgb(255, 145, 0);
  text-decoration: underline;
  list-style-type: circle;
}

h4{


  color: rgb(212, 255, 0);
  text-decoration: underline;
  list-style-type: circle;
}
li {


  color: rgb(160, 175,174);

}

a{
  color: rgb(255, 162,0);
}

h1 {
  text-align: left;

}
p{
  margin: 4em 5em;
  margin-top: 0px;


}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: 4px solid rgb(255, 145, 0);
}











